* {color: red;}
.parableu
{
    color:blue;
}
#parared
{
    color:red;
}
.parableu
{
    color:bleu;
}
p.vert
{
    color:green;
}
.vt {
    color : green ; 
}
.bord {
    border: 2px solid green;
}
a
{
    color:red;
    text-decoration :none ;
}
a:hover {
    color:green;
    text-decoration :underline ;
}
a:visited {
    color:grey;
}
p{font-family: Arial, Helvetica, sans-serif;}
p{font-size : 100%; }
p{font-style:  inherit;}
p{font-weight:500; }
p{text-align:center;}
p{color :rgb (red, green, blue)}
body{background-color: rgba(250,20,0, 219 ); }
body {background-image: url('../image/vecteur-dessin-anime-or-scorpion_16776-93.jpg');background-repeat: no-repeat;}
body {background-position: center top;}
body {background-attachment: fixed;}
body {border:3px rebeccapurple dotted;}
.hh{border-radius:15px ;}
.ii{margin 2px;}

body { 
    height: 50px;
    width: 50%;
}

